<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :username %><br>
  <%= f.text_field :username %>
</div>
<div class="field">
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %><br>
  <%= f.text_field :password %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<!-- <%= radio_button_tag(:email, "child") %>
<%= label_tag(:username, "I am younger than 21") %>
<%= radio_button_tag(:email, "adult") %>
<%= label_tag(:username, "I'm over 21") %>
-->